In [13]:
analyst = "Anatoly"

In [5]:
years = 2

In [11]:
has_job = False

In [14]:
analyst_2 = "Olga"

In [16]:
years_2 = 3

In [17]:
has_job_2 = True

In [22]:
analysts = ["Anatoly", "Olga", "Beslan"]

In [23]:
Years = [2,3,4]

In [25]:
analysts[0]

'Anatoly'

In [28]:
len(analysts) <5

True

In [37]:
analysts.append("Mihail")

In [39]:
analysts.pop(3)

'Mihail'

In [42]:
analysts

['Anatoly', 'Olga', 'Beslan']

In [44]:
has_job = True

In [49]:
if has_job:
    message = 'Anatoly is happy!'
else:
    message = 'Anatoly is sad!' 
print(message)

Anatoly is happy!

In [68]:
job_years = 4

In [57]:
salary = 100000

In [70]:
message = "Additiont is equal {coef}. New salary {new_salary}"

In [72]:
if job_years < 1:
    Coeficent =  0
elif job_years >= 1 and job_years <= 2:
    Coeficent =  0.2
else:
    Coeficent =  0.4
    
new_salary = salary + salary * Coeficent  
print(message.format(coef = Coeficent, new_salary = new_salary))

Additiont is equal 0.4. New salary 140000.0

In [73]:
analysts = ["Anatoly", "Olga", "Beslan"]

In [80]:
for i in analysts:
    if i == 'Anatoly':
        print("Analyst name is {}!".format(i))

Analyst name is Anatoly!

In [89]:
analysts_data = {"Anatoly": [2,100000], "Olga": [3,200000], "Beslan": [4,300000] }

In [92]:
analysts_data["Mikl"][0]

10

In [91]:
analysts_data

{'Anatoly': [2, 100000],
 'Olga': [3, 200000],
 'Beslan': [4, 300000],
 'Mikl': [10, 500000]}

In [106]:
for i in analysts_data:
    print(i, analysts_data[i])





for i in analysts_data:
    if analysts_data[i][0] > 3:
        print(i)

Anatoly [2, 100000]
Olga [3, 200000]
Beslan [4, 300000]
Mikl [10, 500000]
Beslan
Mikl